<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmc.ebshop.mapper.IBookMapper">
    <insert id="insertBook">
        INSERT INTO book(id, name, price, publishedyear, quantitycurrent, quantitysold, authorid, publisherid, deleted)
        VALUES (
            #{book.id},
            #{book.name},
            #{book.price},
            #{book.publishedYear},
            #{book.quantityCurrent},
            #{book.quantitySold},
            #{book.authorId},
            #{book.publisherId},
            #{book.deleted}
        );
    </insert>

    <update id="updateBook" >
        UPDATE book
        <set>
            <if test="book.id != null">
                id = #{book.id},
            </if>
            <if test="book.name != null">
                name = #{book.name},
            </if>
            <if test="book.authorId != null">
                authorid = #{book.authorId},
            </if>
            <if test="book.publisherId != null">
                publisherid = #{book.publisherId},
            </if>
            <if test="book.price != null">
                price = #{book.price},
            </if>
            <if test="book.publishedYear != null">
                publishedyear = #{book.publishedYear},
            </if>
            <if test="book.deleted != null">
                deleted = #{book.deleted},
            </if>
            <if test="book.quantityCurrent != null">
                quantitycurrent = #{book.quantityCurrent},
            </if>
            <if test="book.quantitySold != null">
                quantitySold = #{book.quantitySold},
            </if>
        </set>
        WHERE id = #{book.id}
    </update>

    <select id="existsBookById" resultMap="existsBookById">
        SELECT EXISTS(SELECT id FROM book WHERE id = #{bookId})
    </select>

    <select id="findById" resultMap="findById">
        SELECT *
        FROM book
        WHERE id = #{bookId}
    </select>

    <select id="getBooks" resultMap="getBooks">
        SELECT *
        FROM book
        <where>
            <if test="true">
                AND deleted IS NOT true
            </if>
            <if test="request != null">
                <if test="request.id != null">
                    AND id = #{request.id}
                </if>
                <if test="request.name != null">
                    AND name LIKE CONCAT('%', #{request.name}, '%')
                </if>
                <if test="request.authorId != null">
                    AND authorid = #{request.authorId}
                </if>
                <if test="request.publisherId != null">
                    AND publisherid = #{request.publisherId}
                </if>
                <if test="request.priceFrom != null">
                    AND price <![CDATA[>=]]> #{request.priceFrom}
                </if>
                <if test="request.priceTo != null">
                    AND price <![CDATA[<=]]> #{request.priceTo}
                </if>
            </if>
        </where>
        ORDER BY name ASC, price DESC NULLS LAST, quantitysold DESC NULLS LAST
        LIMIT #{size} OFFSET #{offset}
    </select>

    <resultMap id="existsBookById" type="java.lang.Boolean" >
    </resultMap>

    <resultMap id="findById" type="com.cmc.ebshop.dto.BookDto" autoMapping="true">
    </resultMap>

    <resultMap id="getBooks" type="com.cmc.ebshop.dto.BookDto" autoMapping="true">
    </resultMap>
</mapper>